<!-- THIS WILL -->

<header>
  <h1>
    {{ title }}
  </h1>

  <nav>

    <li>
      link
    </li>

    <li>
      link
    </li>

  </nav>

</header>


<!-- ROOT COMPONENT -->
<section
  id="main"
>
  <!-- UPDATE: in ver 14.1.1+ this worked without having to inject it to the app.component.ts -->
  <!-- This is referred to as nesting components -->
  <!-- If you put "hello there!" it will not show in the output unless you add <ng-content> in home.component.html -->
  <!-- <app-home>
    hello there!
  </app-home> -->

  <!-- Custom property binding -->
  <app-home
    [ninja]="ninja"
  >
    hello there!
  </app-home>

</section>
