<!-- Directives Introduction -->
<!-- ATTRIBUTE DIRECTIVES -->
<!-- <p
  [ngClass]="classes"
>
  directory works!
</p> -->

<!-- STRUCTURAL DIRECTIVES -->
<!-- <p
  *ngIf="test"
>
  Only show if test is true
</p> -->

<!-- <style>
  .blue {color: blue;}
  .red {color: red;}
  .underline {text-decoration: underline;}
</style> -->

<h2>
  Ninja Listing
</h2>

<form
  id="filter"
>
  <label>
    Filter Ninjas by name:
  </label>

  <input
    type="text"
    name="term"
    [(ngModel)]="term"
  />

</form>

<ul
  id="ninja-listing"
>

  <li
   *ngFor="let ninja of ninjas | filter:term"
  >

    <div
      class="single-ninja"
    >

      <!-- Belt Color -->
      <!-- <span
        [ngStyle]="{'background': ninja.belt}"
      >
        {{ ninja.belt }} belt
      </span> -->

      <!-- Pipes -->
      <!-- <span
        [ngStyle]="{'background': ninja.belt, 'color': 'white'}"
      >
        {{ ninja.belt | slice:1:3 }} belt
      </span> -->

      <span
        [ngStyle]="{'background': ninja.belt, 'color': 'white'}"
      >
        {{ ninja.belt }} belt
      </span>

      <!-- Ninja Name -->
      <!-- <h3>
        {{ ninja.name }}
      </h3> -->

      <!-- Pipes -->
      <!-- <h3>
        {{ ninja.name | uppercase  }}
      </h3> -->

      <!-- Custom pipe -->
      <h3>
        {{ ninja.name | uppercase  }}
      </h3>

      <!-- <div
        (click)="remove($event)"
        [attr.data-name]="ninja.name"
      >
        delete
      </div> -->


    </div>

  </li>

</ul>

<button
  (click)="logit()"
>
  Log me
</button>
