<p>
  <!-- home works! -->
  {{ homeTitle }}
</p>
<!-- <ng-content></ng-content> -->

<!-- property binding -->

<!-- static -->
<!-- <input value="i love chicken" /> -->

<!-- dynamic -->
<!-- <input [value]="myString" /> -->
<!-- <input [required]="myBoolean" /> -->

<!-- working -->
<!-- <input value="myString" /> -->
<!-- not working -->
<!-- <input required="myBoolean" /> -->

<!-- working -->
<!-- <input value="{{ myString }}" /> -->
<!-- working -->
<!-- <input required="{{ myBoolean }}" /> -->

<!-- when you click this button it will try to find the alertMe() function in home.component.ts -->
<!-- <button
  (click)="alertMe('i like beef')"
>
  Click me
</button> -->

<!-- 2-way data binding -->
<!-- <label>Name:</label> -->
<!-- <input [(ngModel)]="ninja.name" /> -->
<!-- <label>Belt:</label> -->
<!-- <input [(ngModel)]="ninja.belt" /> -->
<!-- <p>
  {{ ninja.name }}
</p> -->
<!-- <p>
  {{ ninja.name }}
</p> -->
<!-- <p>
  {{ ninja.belt }}
</p> -->


<!-- Customer property binding -->
<p>
  {{ ninja.name }}
</p>
<p>
  {{ ninja.belt }}
</p>
